USE [master]
GO
/****** Object:  Database [GEOGUESSR]    Script Date: 1/2/2023 4:39:28 PM ******/
CREATE DATABASE [GEOGUESSR]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'GEOGUESSR', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\GEOGUESSR.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'GEOGUESSR_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\GEOGUESSR_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [GEOGUESSR].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [GEOGUESSR]
GO
/****** Object:  Table [dbo].[DAILY_SCORES]    Script Date: 1/2/2023 4:39:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DAILY_SCORES](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[DATE] [date] NOT NULL,
	[PLAYER_NAME] [nvarchar](50) NOT NULL,
	[PLAYER_LEVEL] [smallint] NULL,
	[PLAYER_RANK] [varchar](50) NULL,
	[PLAYER_ELO] [smallint] NULL,
	[COMPLETED_GAMES] [int] NULL,
	[STREAK_GAMES] [int] NULL,
	[COUNTRY_GAMES] [int] NULL,
	[COUNTRY_WIN] [int] NULL,
	[COUNTRY_POS] [decimal](5, 2) NULL,
	[DISTANCE_GAMES] [int] NULL,
	[DISTANCE_WIN] [int] NULL,
	[DISTANCE_POS] [decimal](5, 2) NULL,
	[DUELS_GAMES] [int] NULL,
	[DUELS_WIN] [int] NULL,
	[DUELS_PERCENT] [decimal](5, 4) NULL,
	[COMPETITIVE] [bit] NULL,
	[SCORE] [smallint] NOT NULL,
 CONSTRAINT [PK__SCORES__3214EC277AD6DE42] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[WEEKLY_SCORES]    Script Date: 1/2/2023 4:39:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WEEKLY_SCORES](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[DATE] [date] NOT NULL,
	[YEAR] [smallint] NOT NULL,
	[SEASON] [varchar](50) NOT NULL,
	[WEEK] [tinyint] NOT NULL,
	[PLAYER_NAME] [nvarchar](50) NOT NULL,
	[GAMES] [smallint] NOT NULL,
	[FIRST] [smallint] NOT NULL,
	[SECOND] [smallint] NOT NULL,
	[THIRD] [smallint] NOT NULL,
	[P_G] [decimal](4, 2) NOT NULL,
	[TIME] [decimal](5, 2) NOT NULL,
	[POINTS] [int] NOT NULL,
	[PLAYER_LEVEL] [smallint] NULL,
	[PLAYER_RANK] [varchar](50) NULL,
	[PLAYER_ELO] [smallint] NULL,
	[COMPLETED_GAMES] [int] NULL,
	[STREAK_GAMES] [int] NULL,
	[COUNTRY_GAMES] [int] NULL,
	[COUNTRY_WIN] [int] NULL,
	[COUNTRY_POS] [decimal](5, 2) NULL,
	[DISTANCE_GAMES] [int] NULL,
	[DISTANCE_WIN] [int] NULL,
	[DISTANCE_POS] [decimal](5, 2) NULL,
	[DUELS_GAMES] [int] NULL,
	[DUELS_WIN] [int] NULL,
	[DUELS_PERCENT] [decimal](5, 4) NULL,
	[COMPETITIVE] [bit] NULL
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[DAILY_SCORES] ON 

INSERT [dbo].[DAILY_SCORES] ([ID], [DATE], [PLAYER_NAME], [PLAYER_LEVEL], [PLAYER_RANK], [PLAYER_ELO], [COMPLETED_GAMES], [STREAK_GAMES], [COUNTRY_GAMES], [COUNTRY_WIN], [COUNTRY_POS], [DISTANCE_GAMES], [DISTANCE_WIN], [DISTANCE_POS], [DUELS_GAMES], [DUELS_WIN], [DUELS_PERCENT], [COMPETITIVE], [SCORE]) VALUES (1, CAST(N'2022-11-03' AS Date), N'Whoizhe', 11, N'Silver', NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, 0, 25000)
INSERT [dbo].[DAILY_SCORES] ([ID], [DATE], [PLAYER_NAME], [PLAYER_LEVEL], [PLAYER_RANK], [PLAYER_ELO], [COMPLETED_GAMES], [STREAK_GAMES], [COUNTRY_GAMES], [COUNTRY_WIN], [COUNTRY_POS], [DISTANCE_GAMES], [DISTANCE_WIN], [DISTANCE_POS], [DUELS_GAMES], [DUELS_WIN], [DUELS_PERCENT], [COMPETITIVE], [SCORE]) VALUES (2, CAST(N'2022-11-03' AS Date), N'Daniel Michaels', 22, N'Silver', NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, 0, 25000)
INSERT [dbo].[DAILY_SCORES] ([ID], [DATE], [PLAYER_NAME], [PLAYER_LEVEL], [PLAYER_RANK], [PLAYER_ELO], [COMPLETED_GAMES], [STREAK_GAMES], [COUNTRY_GAMES], [COUNTRY_WIN], [COUNTRY_POS], [DISTANCE_GAMES], [DISTANCE_WIN], [DISTANCE_POS], [DUELS_GAMES], [DUELS_WIN], [DUELS_PERCENT], [COMPETITIVE], [SCORE]) VALUES (3, CAST(N'2022-11-03' AS Date), N'iPad', 14, N'Bronze', NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, 0, 25000)
GO
SET IDENTITY_INSERT [dbo].[DAILY_SCORES] OFF
GO
SET IDENTITY_INSERT [dbo].[WEEKLY_SCORES] ON 

GO
SET IDENTITY_INSERT [dbo].[WEEKLY_SCORES] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [K_SCORES_DATE_NAME]    Script Date: 1/2/2023 4:39:29 PM ******/
CREATE NONCLUSTERED INDEX [K_SCORES_DATE_NAME] ON [dbo].[DAILY_SCORES]
(
	[DATE] ASC,
	[PLAYER_NAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
USE [master]
GO
